@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.active {
  font-family: Fraunces;
  text-transform: uppercase;
  font-weight: 700;
  font-size: small;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  padding: 7px;
  padding-inline: 20px;
  border-radius: 3em;
  transition: color 500ms ease-in;
}
